[submodule "bundle/pathogen"]
	path = bundle/pathogen
	url = git://github.com/tpope/vim-pathogen.git
    ignore = dirty
[submodule "bundle/ack"]
    ignore = dirty
	path = bundle/ack
	url = git://github.com/mileszs/ack.vim.git
    ignore = dirty
[submodule "bundle/surround"]
	path = bundle/surround
	url = git://github.com/tpope/vim-surround.git
    ignore = dirty
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = git://github.com/ddollar/nerdcommenter.git
    ignore = dirty
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = git://github.com/ervandew/supertab.git
    ignore = dirty
[submodule "bundle/taglist"]
	path = bundle/taglist
	url = git://github.com/vim-scripts/taglist.vim.git
    ignore = dirty
[submodule "bundle/ZoomWin"]
	path = bundle/ZoomWin
	url = git://github.com/vim-scripts/ZoomWin.git
    ignore = dirty
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
    ignore = dirty
[submodule "bundle/perl-support"]
	path = bundle/perl-support
	url = git://github.com/vim-scripts/perl-support.vim.git
    ignore = dirty
[submodule "bundle/vcscommand"]
	path = bundle/vcscommand
	url = git://github.com/vim-scripts/vcscommand.vim.git
    ignore = dirty
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
    ignore = dirty
[submodule "bundle/indent-object"]
	path = bundle/indent-object
	url = git://github.com/michaeljsmith/vim-indent-object.git
    ignore = dirty
[submodule "bundle/markdown"]
	path = bundle/markdown
	url = git://github.com/tpope/vim-markdown.git
    ignore = dirty
[submodule "bundle/xmledit"]
	path = bundle/xmledit
	url = git://github.com/sukima/xmledit.git
    ignore = dirty
[submodule "bundle/dtl"]
	path = bundle/dtl
	url = git://github.com/frimicc/vim-hwp-dtl.git
[submodule "bundle/scratch"]
	path = bundle/scratch
	url = git://github.com/vim-scripts/scratch.vim.git
[submodule "bundle/unimpaired"]
	path = bundle/unimpaired
	url = git://github.com/tpope/vim-unimpaired.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = git://github.com/majutsushi/tagbar.git
[submodule "bundle/solarized"]
	path = bundle/solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = git://github.com/msanders/snipmate.vim.git
[submodule "bundle/vim-perl"]
	path = bundle/vim-perl
	url = git://github.com/vim-perl/vim-perl.git
[submodule "bundle/taskpaper"]
	path = bundle/taskpaper
	url = git://github.com/davidoc/taskpaper.vim.git
[submodule "bundle/json"]
	path = bundle/json
	url = git://github.com/elzr/vim-json.git
[submodule "bundle/shebang"]
	path = bundle/shebang
	url = https://github.com/vitalk/vim-shebang.git
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "bundle/ShowTrailingWhitespace"]
	path = bundle/ShowTrailingWhitespace
	url = https://github.com/vim-scripts/ShowTrailingWhitespace.git
[submodule "bundle/DeleteTrailingWhitespace"]
	path = bundle/DeleteTrailingWhitespace
	url = https://github.com/vim-scripts/DeleteTrailingWhitespace.git
[submodule "bundle/cql"]
	path = bundle/cql
	url = https://github.com/elubow/cql-vim.git
